h3{
    color:#4aaaa5;
}


a{
    text-decoration: none;
    color:teal;
}

a:hover{
    text-decoration: none;
}
hr{
   
    height:10px;
}
.responsive{
    width:40%;
    height:auto;
    padding:1rem;
    
}

.align-center{
    display:flex;justify-content:center;align-items:center;
}
.col-sm-6{
    display:flex;
    justify-content: center;
    align-items: flex-start;
 
}
img{
    float: left;

}
@media screen and (max-width:500px){
    .responsive{
        width:100%;
        padding:2rem;
    }
}